<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cards">
    <pokemon-card
      *ngFor="let p of pokemons"
      [id]="p.id"
      [name]="p.name"
      [sprite]="p.sprite"
      [type]="p.type"
      [fav]="isFav(p.id)"
      [onToggleFav]="toggleFav" 
      [onSelect]="openDetails">
    </pokemon-card>
  </div>

  <ion-infinite-scroll
      threshold="120px"
      (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
