<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My&nbsp;Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cards" *ngIf="favMons.length; else empty">
    <pokemon-card
      *ngFor="let p of favMons"
      [id]="p.id" [name]="p.name"
      [sprite]="p.sprites.other['official-artwork'].front_default ?? p.sprites.front_default"
      [type]="p.types[0].type.name"
      [fav]="true"
      [onToggleFav]="toggleFav">
    </pokemon-card>
  </div>

  <ng-template #empty>
    <p class="empty">You haven’t added any Pokémon yet 😢</p>
  </ng-template>
</ion-content>
